<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<link th:href="@{/css/main.css}" rel="stylesheet" />-->
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Tasa de Operacion</title>
</head>
<body>
<h1>Tasa de Operacion</h1>
<table>
    <tr>
        <th>Marca</th>
        <th>Importe</th>
    </tr>
        <td th:text="${nombreMarca}">123</td>
        <td th:text="${monto}"> Spring in Action</td>
    </tr>
</table>

<br>
<br>
<h1>Valor:</h1> <h1 th:text="${resultado}"></h1>
<br>
<br>
<form action="/tasas">
    <input type="submit" value="Volver" />
</form>
</body>
</html>